{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% set classes = [
'file-path',
'validate',
'js-form-file',
'form-file'
] %}
<div class="file-field input-field">
  <div class="btn">
    <span>File</span>
    <input type="{{ attributes.type }}">
  </div>
  <div class="file-path-wrapper">
    <input class="{{ attributes.addClass(classes) }}"
       type="text"
       id="{{ attributes.id }}"
       name="{{ attributes.name }}"
       size="{{ attributes.size }}"
       placeholder="Upload one or more files" {{ attributes.data-drupal-selector }}>
  </div>
</div>

