@import "d8_materialize_variables";

$color-main-content: #f3f3f3;

$custom-color: color("teal", "lighten-2");

// Sticky footer.
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1;
}

//Account Dropdown.
@media #{$small-and-down} {
  .btn.dropdown-button {
    padding: 0 1rem;
    i.right {
      margin-left: 0;
    }
  }
}

//Image widget.
.image-widget {
  margin-bottom: 15px;
}

//Form wrapper.
details.form-wrapper {
  .input-field {
    margin-top: 15px;
  }
  label {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}

// Search form.
#search-block-form {
  margin-top: 1.5em;
  .input-field {
    margin-top: 1em;
  }
}

.input-field input[type=search] {
  padding-left: 0;
}

.search-form,
.search-block-form {
  overflow: hidden;
  input.form-search {
    width: calc(100% - 13em);
    float: left;
  }
  label {
    display: none;
  }
  input.form-submit {
    width: 8em;
    float: right;
    margin-top: .5em;
  }
}
.search-help-link {
  float: left;
  height: 30px;
  clear: both;
}
.form-type-textarea {
  top: -2.2em;
}

// Account menu styles.
#block-d8-materialize-account-menu {
  text-align: right;
}

// Breadcrumbs
nav.breadcrumb,
nav.tabs {
  color: #000;
  background-color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: inherit;
  a {
    color: #000;
  }
}

nav.breadcrumb {
  line-height: initial;
  height: initial;
  margin: 20px 0 0 0;
  padding-bottom: 0;
  a {
    color: #9E9E9E;
  }
}

// Navigation.
.top-nav {
  height: auto;
  .row {
    padding-bottom: 0;
  }
}
.row.l-navigation {
  margin-bottom: 0;
}
.node__submitted {
  margin: 20px 0;
}

nav.menu--main {
  box-shadow: none;
}

// tool-bar menu
.toolbar-lining {
  nav ul li {
    float: initial;
  }
}
// Toolbar menu fix.
li.menu-item.level-1 {
  float: initial;
}

// Row l-header
.row.l-header {
  margin-bottom: 0;
}

// Branding Block
.block-system-branding-block {
  margin-top: 20px;
  margin-bottom: 5px;
}

// Footer
footer.page-footer {
  margin-top: 0;
  padding-top: 15px;
  .menu--footer {
    a {
      color: #FFF;
    }
  }
}

// Forms
.description {
  margin-bottom: 30px;
}
.input-field {
  margin-top: 3rem;
  label {
    left: 0;
  }
}
.card-panel {
  .input-field {
    margin-top: 0;
  }
}
.field--type-image {
  label {
    display: none;
  }
}
.o-hidden {
  overflow: hidden;
  padding-bottom: 1em;
}
.search-help-link {
  width: 100%;
}

// Site name.
.site-name {
  line-height: initial;
  font-size: 2em;
}
//Views row default
.views-row {
  padding-bottom: 4em;
  h2 {
    margin-top: 0;
  }
}

.node__links {
  .btn {
    text-decoration:none;
    text-align: center;
    letter-spacing: .5px;
    @extend .z-depth-1;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
      @extend .z-depth-1-half;
    }
  }
}

//waves-effect waves-light btn
.field__label {
  margin: 1em 0;
}
.field__items {
  margin: 1em 0;
}

//Ckeditor comments fix.
.form-type-textarea.input-field {
  label {
    top: -2.2rem;
  }
}
