{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <ul class="pagination">
    {% if items.previous %}
      <li class="waves-effect">
        <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}"
           rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Previous page'|t }}</span>
          <span aria-hidden="true"><i class="mdi-navigation-chevron-left"></i></span>
        </a>
      </li>
    {% endif %}
    {% if items.current %}
      <li class="active">
        <a>Page {{ items.current }}</a>
      </li>
    {% endif %}
    {% if items.next %}
      <li class="waves-effect">
        <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}"
           rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Next page'|t }}</span>
          <span aria-hidden="true"><i class="mdi-navigation-chevron-right"></i></span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}